*{
    padding: 0;
    margin: 0;
    font-family: monospace;
    font-size: 1.1rem;
}

body{
    /* background:linear-gradient(rgba(135, 80, 156, 0.226),rgba(183, 65, 230, 0.719)),url(/img/img3.jpg); */
    background: url(./img/img4.jpg);;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    
}


.container{
    max-width: 920px;
    margin: 0 auto;
    text-align: center;
    
}

input{
    padding: .5rem;
    outline: none;
    border: 1px solid #333;
}
button{
    padding: .5rem 1rem;
    cursor: pointer;
}

#preloader{
    background: #FFCC00 url(/img/loader4.gif);
    background-repeat: no-repeat;
    background-position: center center;
    height:100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}

iframe{
    display: none;
}